In [1]:
import pandas as pd
from tqdm import tqdm_notebook

In [2]:
train_data = pd.read_csv("../data/external/train_data.csv", sep=';')
train_labels = pd.read_csv("../data/external/train_labels.csv", sep=';')
test_data = pd.read_csv("../data/external/test_data.csv", sep=';')

C:\Users\FED\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\FED\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# pd.set_option('max_colwidth', 8)
# pd.set_option('display.width', 500)

In [4]:
# параметры процедур из истории участия
train_data.head()

,pn_lot_anon,fz,region_code,min_publish_date,purchase_name,lot_name,lot_price,okpd2_code,okpd2_names,additional_code,additional_code_names,item_descriptions
0,pn_lot_7031618,44fz,2,2019-08-26,Услуги по проведению финансового аудита,NaN,123500.0,69.2,Услуги по проведению финансового аудита,NaN,NaN,Услуги по проведению финансового аудита
1,pn_lot_7808247,44fz,2,2019-03-12,Приобретение призов для проведения конкурса по...,NaN,144000.0,26.4,"Телефоны головные, наушники и комбинированные ...",NaN,NaN,"Телефоны головные, наушники и комбинированные ..."
2,pn_lot_7009496,44fz,2,2019-03-14,приобретение призов для проведения мероприятия...,NaN,124200.0,26.2,Устройства запоминающие внешние,NaN,NaN,Устройства запоминающие внешние
3,pn_lot_5938735,44fz,2,2019-03-14,Продление лицензии на 1С -Битрикс Управление с...,NaN,50000.0,46.5,Услуги по оптовой торговле программным обеспеч...,NaN,NaN,Продление лицензии на 1С -Битрикс Управление с...
4,pn_lot_9327348,44fz,2,2019-06-26,Приобретение компьютерной техники,NaN,493441.0,26.2,Машины вычислительные электронные цифровые про...,NaN,NaN,монитор || системные блоки системный блок

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778901 entries, 0 to 778900
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   pn_lot_anon            778901 non-null  object
 1   fz                     778901 non-null  object
 2   region_code            778901 non-null  int64
 3   min_publish_date       778901 non-null  object
 4   purchase_name          778900 non-null  object
 5   lot_name               129233 non-null  object
 6   lot_price              778901 non-null  float64
 7   okpd2_code             687207 non-null  object
 8   okpd2_names            687207 non-null  object
 9   additional_code        220833 non-null  object
 10  additional_code_names  220833 non-null  object
 11  item_descriptions      695167 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 71.3+ MB

In [5]:
# актуальные процедуры, которые нужно рекомендовать
test_data.head()

,pn_lot_anon,fz,region_code,min_publish_date,purchase_name,lot_name,lot_price,okpd2_code,okpd2_names,additional_code,additional_code_names,item_descriptions
0,pn_lot_2889061,44fz,2,2020-10-26,Услуги по проведению финансового аудита,NaN,135000.00,69.2,Услуги по проведению финансового аудита,NaN,NaN,Услуги по проведению финансового аудита
1,pn_lot_5769273,44fz,2,2020-06-03,приобретение офисной деревянной мебели,NaN,1474449.27,31.0,"Столы письменные деревянные для офисов, админи...",NaN,NaN,Стол (для специалиста) || Стол приставка для с...
2,pn_lot_3605798,44fz,2,2020-06-03,оказание услуги по предоставлению лицензий на ...,NaN,1053275.46,58.2,Услуги по предоставлению лицензий на право исп...,NaN,NaN,Неисключительное (лицензионное) право на испол...
3,pn_lot_1215937,44fz,2,2020-06-04,приобретение офисной металлической мебели,NaN,445287.59,31.0,Мебель офисная металлическая прочая || Шкафы а...,NaN,NaN,Шкаф бухгалтерский для документов || Шкаф для ...
4,pn_lot_5025054,44fz,2,2020-07-14,приобретение многофункциональных устройств,NaN,709465.59,NaN,NaN,26.2,Многофункциональное устройство (МФУ),Многофункциональное устройство (МФУ) Наличие Ж...

In [6]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84098 entries, 0 to 84097
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   pn_lot_anon            84098 non-null  object
 1   fz                     84098 non-null  object
 2   region_code            84098 non-null  int64
 3   min_publish_date       84098 non-null  object
 4   purchase_name          84098 non-null  object
 5   lot_name               13596 non-null  object
 6   lot_price              84098 non-null  float64
 7   okpd2_code             69519 non-null  object
 8   okpd2_names            69519 non-null  object
 9   additional_code        28165 non-null  object
 10  additional_code_names  28165 non-null  object
 11  item_descriptions      75106 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 7.7+ MB

- pn_lot_anon – анонимизированный номер связки процедура-лот;
- fz - федеральный закон, к которому относится процедура;
- region_code – код региона (справочник регионов приложен);
- min_publish_date – дата первой публикации извещения;
- purchase_name – название закупки;
- lot_name – название лота;
- lot_price – цена лота (в руб.);
- okpd2_code – код ОКПД2;
- okpd2_names – название кода ОКПД2 (разделитель “||”);
- additional_code – добавочный код (если нет кода ОКПД2, используется КТРУ для 44-ФЗ или ОКВЭД2 для 223-ФЗ);
- additional_code_names – название добавочного кода (разделитель “||”);
- item_descriptions – описание товаров (разделитель “||”).

Код ОКПД2 имеет несколько уровней вложенности. Например, «24.20.31.000 – трубы сварные для нефте- и газопроводов, наружным диаметром не более 406,4 мм, стальные». В поле okpd2_names название кода ОКПД2 всегда соответствует реальному уровню вложенности, а в okpd2_code код. ОКПД2 верхнеуровневый. В нашем примере okpd2_names сохраняется, но okpd2_code будет 24.2 (не больше одного знака после первой точки). Аналогично для additional_code и additional_code_names.

In [8]:
# история участия
train_labels

           pn_lot_anon participant_inn_kpp_anon  is_winner     fz
0       pn_lot_1770702          inn_kpp_3661899          1   44fz
1       pn_lot_1058704          inn_kpp_3661899          1   44fz
2       pn_lot_4186044          inn_kpp_3661899          1   44fz
3       pn_lot_6882961          inn_kpp_3661899          1   44fz
4       pn_lot_5821609          inn_kpp_3661899          1   44fz
...                ...                      ...        ...    ...
928443  pn_lot_4113734          inn_kpp_9228706          0   44fz
928444  pn_lot_1672363          inn_kpp_9228706          1  223fz
928445  pn_lot_5319307          inn_kpp_9228706          1  223fz
928446  pn_lot_7591446          inn_kpp_2431264          1  223fz
928447  pn_lot_3442542          inn_kpp_8441221          0  223fz

[928448 rows x 4 columns]

In [9]:
train_labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 928448 entries, 0 to 928447
Data columns (total 4 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   pn_lot_anon               928448 non-null  object
 1   participant_inn_kpp_anon  928448 non-null  object
 2   is_winner                 928448 non-null  int64
 3   fz                        928448 non-null  object
dtypes: int64(1), object(3)
memory usage: 28.3+ MB

- pn_lot_anon – анонимизированный номер связки процедура-лот из train_data;
- participant_inn_kpp_anon – анонимизированный ИНН_КПП поставщика;
- is_winner – 1 - если поставщик победил в соответствующей процедуре, 0 – поставщик участвовал в соответствующей процедуре;
- fz – федеральный закон, к которому относится процедура.